.trend_container{
    width: 100%;

}

.trend_container .trend_card{
    max-width: 100%;
    background:var(--cardColor);
    padding: 20px;
    border-radius: 10px;
}

.trend_card>h3{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black);
}

.trend>h4{
    font-size: 1.05rem;
    font-weight: 600;
}

.trend>p{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: -20px;
}

.trend_container .share-btn{
    margin: 30px 0;
    width: 100%;
    padding: 1.03rem 0;
}